body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
  position: relative;
  z-index: 1;
}  

header {
  background: url(../img/football_1920.jpg) center top / cover;
  
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #17183a;
  opacity: 0.1;
}
.page-title {
  text-transform: uppercase;
}

.text__header {
  font-size: 90px;
  letter-spacing: 5px;
  line-height: 31px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin: 392px 1063px 501px 192px;

}

.text__sports {
    font-size: 90px;
    letter-spacing: 5px;
    line-height: 31px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    margin: 25px 644px 222px 198px; 
}

/* Button */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-color: #5e42b0;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 35px;
  width: 280px;
}

.button-icon {
  width: 42px;
  height: 48px;
  margin-right: 10px;
  fill: #ffffff;
}

.button-text {
  text-transform: uppercase;
}

.button-text-store {
  font-weight: 700;
}
/* Button */



.logo__text {
  width: 191px;
  height: 52px;
  margin: 45px 865px 295px 865px;
}

.text__headline {
    font-size: 80px;
    line-height: 60px;
    color: #e7e7e7;
    font-weight: bold;
    text-transform: uppercase;
}

.headling__blue {
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
    margin: 0 auto;
}

.headling__white {
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 0 auto;
}

.athlets {
  display: flex;
  flex-direction: column;
}

.athlets__number {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}



.athlets__row-gray {
  background-color: #fafafa;
}


.athlets__row-darkgray {
  background-color: #f5f4f9;
}

.athlets__row-purple {
  background-color: #5e42b0;
}

.players__row-purple {
  background-color: #090c35;
}

.athlets__row-purple .athlets__text{
  color: #ffffff;
}

.players__row-purple .athlets__text{
  color: #ffffff;
}

.athlets__title {
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 34px;
    color: #c1c1c1;
    font-weight: bold;
    text-transform: uppercase;
}

.athlets__text {
    font-size: 20px;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
}


.box_card {
  background-color: #5e42b0;
  width: 168px;
  height: 155px;
  color: #ffffff;
  font-weight: 700;
  display: flex;
  font-size: 22px; /* Надо задать правильное значение по макету */
  line-height: 1;
}

.box_number {
  margin: auto;
  position: relative;
}

.box_number::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 5px; 
  background-color: #ffffff;
  opacity: 0.3; /* Надо задать правильное значение по макету */
  border-radius: 5px;
  bottom: -9px; 
}

.advantages {
  display: flex;
  flex-direction: column;

}

.advantages__item {

}

.advantages__title {
  font-size: 80px;
  line-height: 60px;
  color: #c1c1c1;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__body {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #000000;
}

.logo__surface {
    fill: #ffffff;
    width: 10%;
    height: 10%;
}

.footer__headline {
    font-size: 80px;
    letter-spacing: 4px;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold;
}

.footer__text {
    font-size: 30px;
    line-height: 34px;
    color: #a496ca;
}

footer {
    background: url(../img/game_1920.jpg) center top / cover;
}

.footer__logo {
  width: 191px;
  height: 52px;
  margin: 262px 864px 52px 865px;
}

footer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #17183a;
  opacity: 0.1;
}
